<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/alltickets.css">
    <title>All Tickets</title>
</head>
<body>

    <li><a href={% url 'home' %}>Inicio</a></li>

{% for ticket in tickets %}

<div class="card">
    <div class="card-header">
      <div class="ticket-id">Ticket No. {{ticket.id}}</div>
      <div class="ticket-status">{{ticket.status}}</div>
    </div>
    <div class="card-content">
      <div class="ticket-title">Titulo: {{ ticket.title }}</div>
      <div class="ticket-description">Descripcion del ticket: <br>{{ ticket.description }}</div>
    </div>
    <div class="card-footer">
      <div class="ticket-assigned-to">Assigned to: {{ ticket.asignar }}</div>
      <div class="ticket-due-date">Due date: {{ ticket.due_date }}</div>
    </div>
    <div class="card-footer">
      <div class="ticket-assigned-to">Prioridad: {{ ticket.priority }}</div>
      <div class="ticket-due-date">categoria:  {{ ticket.categorias }}</div>
    </div>
</div>

<form action="{% url 'editarticket1' ticket.id %}" method="post">
  {% csrf_token %}
  <!-- Se incluyen los campos de título y descripción para ser enviados al servidor -->
  <input type="hidden" name="title" value="{{ ticket.title }}">
  <input type="hidden" name="description" value="{{ ticket.description }}">
  <label for="title">Modificar Título:</label>
  <input type="text" id="title" name="title" value="{{ ticket.title }}">
      <!-- Campo modificable para 'description' -->
      <label for="description">Modificar Descripción:</label>
      <textarea id="description" name="description">{{ ticket.description }}</textarea>
  
      <!-- Campo modificable para 'Assigned to' -->
      <label for="asignar">Modificar Asignado a:</label>
      <select id="asignar" name="asignar">
          <option value="Davis Hernandez" {% if ticket.asignar == "Davis Hernandez" %}selected{% endif %}>Davis Hernandez</option>
          <option value="Libby Arias" {% if ticket.asignar == "Libby Arias" %}selected{% endif %}>Libby Arias</option>
          <option value="Katherine Monterroso" {% if ticket.asignar == "Katherine Monterroso" %}selected{% endif %}>Katherine Monterroso</option>
          <option value="Daniel Hall" {% if ticket.asignar == "Daniel Hall" %}selected{% endif %}>Daniel Hall</option>
          <option value="Daniel Hall" {% if ticket.asignar == "Daniel Hall" %}selected{% endif %}>Francisco</option>
          <option value="Daniel Hall" {% if ticket.asignar == "Daniel Hall" %}selected{% endif %}>Francisco</option>
      </select>
  
      <!-- Campo modificable para 'Prioridad' -->
      <label for="priority">Modificar Prioridad:</label>
      <input type="text" id="priority" name="priority" value="{{ ticket.priority }}">
  
      <!-- Campo modificable para 'Categoría' -->
      <label for="categorias">Modificar Categoría:</label>
      <input type="text" id="categorias" name="categorias" value="{{ ticket.categorias }}">
  
  <button type="submit">Guardar Cambios</button>
  <br>
  <br>
</form>

<form action="{% url 'cerrar_ticket' ticket.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Cerrar Ticket</button>
    <br>
    <br>
</form>

{% endfor %}

<!-- {% for ticket in tickets %}
    {% if not ticket.closed %}
        <!-- Código para mostrar el ticket aquí -->
      
        <!-- Otros detalles del ticket -->
    {% endif %}
{% endfor %} -->
    
</body>
</html>
